h2 {
  color: darkslategray;
  font-style: italic;
}

ul {
  list-style-type: circle; /* Adds a bit of flair to our list */
}

a {
  color: teal; /* A soothing, clickable teal for links */
  text-decoration: none; /* Removes the underline to clean up the appearance */
}

.special-text {
  color: darkcyan;
  font-weight: bold;
}

#main-heading {
  color: darkmagenta;
  font-size: 24px;
}

.urgent-text {
  color: red !important;
}

/* Grouping selectors */
h1, h2, h3 {
  font-family: 'Arial', sans-serif;
}

/* https://www.freecodecamp.org/news/css-combinators-to-select-elements/ */
/* Descendant = every child in a family line */
/* Child belongs directly to a parent */

/* Descendant combinator */
article p {
  color: slategray;
}

/* Child combinator */
article > p {
  margin-left: 20px;
}